# Tell GitHub to ignore native platform files in language stats
android/** linguist-vendored
ios/** linguist-vendored
build/** linguist-generated
.flutter-plugins linguist-generated
.dart_tool linguist-generated
